# Database configuration
DATABASE_URL="postgresql://user:root@localhost:5432/db?schema=public"

# Environment configuration
NODE_ENV=development

# Auth configuration
JWT_SECRET=marmeasyjwtoken

# API configuration
API_PORT=3333