# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=user
DB_USER=db
DB_PASSWORD=password

# Environment configuration
NODE_ENV=development

# Auth configuration
JWT_SECRET=secret

# API configuration
API_PORT=3333
